<div class="container">
  <div class="row">
    <div class="col text-center">
      <img src="img/icon.jpg" alt=" Mochammad Fajrin" class="img-thumbnail rounded-circle" width="200">
      <h1 class="display-4">Mochammad Fajrin</h1>
      <p class="lead">Lecture Student of Lamongan Islamic University | Backend Developer</p>
    </div>
  </div>
</div>